<!DOCTYPE html>
<html>
<head>
    {% if title %}<title>{{ title }}</title>{% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="{{ url_for('static', filename='libraries/js/jquery.typewatch.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="img/ico" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body id="body">
    <!-- Navigation Menu Starts -->
    <nav role="navigation" class="navbar navbar-default navbar-static-top" id="navigation-bar">
        <div class="container">
            <!-- The brand and the toggle bar (to collapse the menu) -->
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">PostMaster</a>
            </div>
            <!-- Navigation links for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <!-- Right links on the navbar -->
                <ul class="nav navbar-nav navbar-right">
                    {% if authenticated %}
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Manage <b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="/admins">Administrators</a></li>
                                <li><a href="/aliases">Aliases</a></li>
                                <li><a href="/configs">Configurations</a></li>
                                <li><a href="/domains">Domains</a></li>
                                <li><a href="/users">Users</a></li>
                            </ul>
                        </li>
                        <li><a href="/logs">Logs</a></li>
                        <li><a href="/logout">Logout</a></li>
                    {% else %}
                        <li><a href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navigation Menu Ends -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <div id="bottomOuterAlertDiv">
    </div>
</body>
</html>
