{% extends "base.html" %}

{% block head %}
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <script>
                $(document).ready(function () {
                    //Displays the last flash message received
                    addStatusMessage('{{messages[-1][0]}}', '{{messages[-1][1] | new_line_to_break}}');
                });
            </script>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="row" id="loginRow">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title text-center">Login In</div>
            </div>
            <div class="panel-body">
                <form action="/login" method="POST" class="form-horizontal">
                    <div class="input-group loginInput">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        {{ loginForm.username(class_='form-control', required=True, placeholder='Enter a username') }}
                    </div>
                    <div class="input-group loginInput">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        {{ loginForm.password(class_='form-control', required=True, placeholder='Enter a password') }}
                    </div>
                    <div class="input-group loginInput">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-record" title="Only needed if 2 Factor is enabled for your account"></i></span>
                        {{ loginForm.two_factor(class_='form-control', required=False, placeholder='Enter 2 Factor token') }}
                    </div>
                    <div class="input-group loginInput">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-cloud"></i></span>
                        {{ loginForm.auth_source(class_='form-control', required=True) }}
                    </div>
                    <div id="loginButtons" class="input-group">
                        <input class="btn btn-primary" type="submit" value="Login" />
                        <input class="btn btn-default" type="reset" value="Reset" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
