html,
body {
    height:100%;
}

body {
    background-color:#FEFEFE;
}

a, a:focus {
    color: #2C3E50;
    text-decoration: none !important;
}

a:hover {
    color: #2C3E50;
    text-decoration: underline !important;
}

nav a:focus {
    color: #FFFFFF !important;
}

nav a:hover {
    color: #D0D0D0 !important;
}

h2.textHeading {
    text-align: center;
    margin-bottom: 2em;
}

#bottomOuterAlertDiv {
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    z-index: 999;
}

#bottomOuterAlertDiv div.alert {
    margin: 0 auto 1em auto;
    max-width: 800px;
    text-align: center;
}

/* Dashboard CSS */
#dashboardRow {
    margin-bottom: 2em;
}

div.dasboardColumn {
    padding: 0 0.25em 0 0.25em;
}

div.dasboardColumn ul {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}

div.dasboardColumn ul li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.dasboardColumn ul li a {
    text-decoration: none !important;
    color: #FEFEFE;
    display: block;
    text-align: center;
    font-size: 180%;
    height: 6.5em;
    line-height: 6.5em;
    transition: font 0.05s ease;
        -webkit-transition: all 0.05s ease;
        -moz-transition: all 0.05s ease;
        -o-transition: all 0.05s ease;
}

#domainsTile {
    background-color: #248A8E;
}

#usersTile {
    background-color: #CE2323;
}

#aliasesTile {
    background-color: #36A5C9;
}

#configurationsTile {
    background-color: #A8C92E;
}

#logsTile {
    background-color: #FF9900;
}

#administratorsTile {
    background-color: #0B486B;
}
/* End of Dashboard CSS */


/* Login Page CSS */
#loginRow div.panel-body {
    margin-top: 3em;
    margin-bottom: 3em;
}

.loginInput {
    width: 65%;
    margin: 2em auto auto;
}

#loginButtons {
    margin: auto;
}

#loginButtons input.btn-primary {
    margin-right: 1.5em;
}
/* End of Login Page CSS */

/* Manage Page CSS */
h2.textHeadingManage {
    text-align: center;
    margin-bottom: 1.4em;
}

h2.textHeadingManageNoFilter {
    text-align: center;
    margin-bottom: 2em;
}

#dynamicTable th,
#dynamicTable td {
    vertical-align: middle;
    overflow: hidden;
}

#newDomainInput, #newUserInput,
#newPasswordInput, #newAliasSourceInput,
#newAliasDestinationInput,
#newAdminInput, #newAdminPasswordInput,
#newAdminNameInput {
    height: 40px;
}

ul.pagination li a,
ul.pagination li a:focus {
    background-color: #95a5a6;
    border-color: #95a5a6;
}

ul.pagination li.active a,
ul.pagination li.active a:focus {
    background-color: #2c3e50;
    border-color: #2c3e50;
}

ul.pagination li a:hover,
ul.pagination li.active a:hover {
    background-color: #2c3e50;
    border-color: #2c3e50;
    color:#b4bcc2;
}

ul.pagination li.disabled a,
ul.pagination li.disabled a:visited {
    background-color: #95a5a6;
    border-color: #95a5a6;
}

ul.pagination li.disabled a:hover {
    background-color: #95a5a6;
    border-color: #95a5a6;
    color:#b4bcc2;
}

#dynamicTableDiv {
    position: relative;
}

#actionHeader {
    width: 15%;
}

#filterRow {
    margin-bottom: 3em;
}

#filterRow .input-group {
    margin: auto;
    width: 60%;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7) url('/static/img/loader.gif') no-repeat 50%;
}
/* End of Manage Page CSS */

/* Only Domains Page CSS */
#domainHeader {
    width: 85%;
}

#newDomainInput {
    max-width: 500px;
}
/* End of Only Domains Page CSS */

/* Only Users Page CSS */
#emailHeader, #passwordHeader {
    width: 42.5%;
}
/* End of Only Users Page CSS */

/* Only Alias Page CSS */
#sourceAliasHeader, #destinationAliasHeader {
    width: 42.5%;
}
/* End of Only Alias Page CSS */

/* Only Admin Page CSS */
#usernameAdminHeader, #passwordAdminHeader,
#nameAdminHeader {
    width: 28.33%;
}

#lockedAdminHeader, #actionHeader {
    width: 7.5%;
}

a.adminLocked {
    color: #e74c3c;
}

a.admin2FAConfigure {
    color: #e74c3c;
}
/* End of Only Admin Page CSS */

/* Only Configs Page CSS */
#settingHeader, #valueHeader {
    width: 50%;
}
/* End of Only Configs Page CSS */

/* Only Logs Page CSS */
#timeHeader, #adminHeader {
    width: 25%;
}

#messageHeader {
    width: 50%;
}
/* End of Only Logs Page CSS */

@media(max-width:767px) {

    ul.pagination {
        margin-left: 1em;
    }

    #bottomOuterAlertDiv div.alert {
        width: 85%;
    }

    .hiddenMobile {
        display: none !important;
    }

    h2.textHeadingManage,
    h2.textHeadingManageNoFilter,
    h2.textHeading {
        margin-bottom: 1em;
    }

    #filterRow {
        margin-bottom: 2.5em;
    }

    #filterRow .input-group {
        width: 95%;
    }

    /* No More Tables */
    #dynamicTable,
    #dynamicTable thead,
    #dynamicTable tbody,
    #dynamicTable th,
    #dynamicTable td,
    #dynamicTable tr {
        display: block;
    }

    #dynamicTable thead tr {
        display: none;
    }

    #dynamicTable tr { border: 1px solid #ccc; }

    #dynamicTable td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #dynamicTable td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    #dynamicTable td:before { content: attr(data-title); }

    div.editable-input {
        max-width: 72.5%;
    }

    button.editable-cancel {
        display: none;
    }

    div.tooltip {
        display: none !important;
    }
    /* End of No More Tables */

    /* Login Page CSS */
    #loginRow {
        margin: auto;
    }

    #loginRow div.panel-body {
        margin-top: 0.75em;
        margin-bottom: 0.75em;
    }

    .loginInput {
        width: 95%;
    }

    #loginButtons {
        margin-top: 2em;
        margin-bottom: 1.5em;
    }
    /* End of Login Page CSS */

    /* Dashboard CSS */
    div.dasboardColumn ul li a {
        margin-left: 7.5%;
        margin-right: 7.5%;
        font-size: 150%;
        height: 5em;
        line-height: 5em;
    }
    /* End of Dashboard CSS */
}

@media(min-width:768px) {
    ul.dropdown-menu li a {
        height: 50px;
        padding-top: 14px !important;
    }

    ul.dropdown-menu {
        border: none !important;
    }

    #dynamicTable th,
    #dynamicTable td {
        height: 50px;
        padding: 5px 8px;
    }

    #bottomOuterAlertDiv div.alert {
        width: 60%;
    }

    /* Login Page CSS */
    #loginRow {
        margin: auto auto 3em;
        max-width: 90%;
    }

    #loginButtons {
        margin-top: 2.5em;
        margin-bottom: 1em;
    }

    #loginButtons input {
        padding: 0.75em 2em;
    }
    /* End of Login Page CSS */

    /* Dashboard CSS */
    div.dasboardColumn ul li a:hover {
        font-size: 190%;
        height: 6.16em;
        line-height: 6.16em;
    }
    /* End of Dashboard CSS */
}

@media(min-width:992px) {
    /* Manage Page CSS */
    #newDomainInput, #newUserInput,
    #newPasswordInput, #newAliasSourceInput,
    #newAliasDestinationInput,
    #newAdminInput, #newAdminPasswordInput,
    #newAdminNameInput {
        width: 75%;
    }
    /* End of Manage Page CSS */
}

@media(min-width:1200px) {
    /* Login Page CSS */
    #loginRow {
        width: 75%;
        margin: auto;
    }
    /* End of Login Page CSS */
}
