{% extends "base.html" %}

{% block head %}
    <script src="{{ url_for('static', filename='js/domains.js') }}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <h2 class="textHeadingManage">Domains</h2>
    <div id="statusMessage">
    </div>
    <div id="dynamicTableDiv">
        <div class="loader"></div>
        <table class="table table-striped table-bordered" id="dynamicTable">
            <thead>
                <tr>
                    <th id="domainHeader">Domain:</th>
                    <th id="actionHeader">Action:</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(5) %}
                    <tr id="dynamicTableRow{{i + 1}}">
                        <td class="domainName"></td>
                        <td></td>
                    </tr>
                {% endfor %}
                <tr id="addItemRow">
                    <td><div><input id="newDomainInput" class="form-control" type="text" placeholder="Enter a new domain" /></div></td>
                    <td style="vertical-align: middle"><a href="#" id="newItemAnchor">Add</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <ul class="pagination hidden" id="pagination">
    </ul>
</div>
{% endblock %}
