{% extends "base.html" %}
{% block content %}
    <div class="row">
        <h2 class="textHeading">Dashboard</h2>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading"><i class="fa fa-cloud"></i>Domains at a Glance</div>
                <div class="panel-body">
                    <br /><br /><br /><br /><br /><br /><br /><br /><!--Temporary-->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading"><i class="fa fa-user"></i>Users at a Glance</div>
                <div class="panel-body">
                    <br /><br /><br /><br /><br /><br /><br /><br /><!--Temporary-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading"><i class="fa fa-external-link"></i>Aliases at a Glance</div>
                <div class="panel-body">
                    <br /><br /><br /><br /><br /><br /><br /><br /><!--Temporary-->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading"><i class="fa fa-pencil"></i></i>Logs at a Glance</div>
                <div class="panel-body">
                    <br /><br /><br /><br /><br /><br /><br /><br /><!--Temporary-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
