{% extends "base.html" %}

{% block head %}
    <script src="{{ url_for('static', filename='js/logs.js') }}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <h2 class="textHeadingManageNoFilter">SwagMail Recent Logs</h2>
</div>
<div class="row">
    <div id="dynamicTableDiv">
        <div class="loader"></div>
        <table class="table table-striped table-bordered" id="dynamicTable">
            <thead>
                <tr>
                    <th id="timeHeader">Time:</th>
                    <th id="timeAdmin">Admin:</th>
                    <th id="timeMessage">Message:</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
