a, a:focus {
    color: #2C3E50;
    text-decoration: none !important;
}

a:hover {
    color: #2C3E50;
    text-decoration: underline !important;
}

nav a:focus {
    color: #FFFFFF !important;
}

nav a:hover {
    color: #D0D0D0 !important;
}

h2.textHeading {
    text-align: center;
    margin-bottom: 3em;
}

table.table > tbody > tr > td {
    vertical-align: middle;
}

button.editable-submit,
button.editable-cancel {
    margin-top: 3px;
}

/* Dashboard CSS */
div.panel {
    margin-bottom: 6em;
}

div.panel-heading {
    font-size: 110%;
}

div.panel-heading i {
    margin-right: 0.75em;
}
/* End of Dashboard CSS */


/* Login Page CSS */
#loginRow .panel-body {
    margin-top: 2em;
    margin-bottom: 2em;
}

.loginInput {
    width: 75%;
    margin: auto;
    margin-top: 2em;
}

#loginButton {
    padding: 0.75em 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.loginAlert {
    width: 60%;
    margin: auto;
    margin-bottom: 4.5em;
    text-align: center;
}
/* End of Login Page CSS */

/* Manage Page CSS */
h2.textHeadingManage {
    text-align: center;
    margin-bottom: 0.75em;
}

#newDomainInput, #newUserInput,
#newPasswordInput, #newAliasSourceInput,
#newAliasDestinationInput {
    height: 40px;
}

#statusMessage {
    height: 53px;
    margin-bottom: 2em;
}

ul.pagination li a,
ul.pagination li a:focus {
	background-color: #95a5a6;
	border-color: #95a5a6;
}

ul.pagination li.active a,
ul.pagination li.active a:focus {
	background-color: #2c3e50;
	border-color: #2c3e50;
}

ul.pagination li a:hover,
ul.pagination li.active a:hover {
	background-color: #2c3e50;
	border-color: #2c3e50;
	color:#b4bcc2;
}

ul.pagination li.disabled a,
ul.pagination li.disabled a:visited {
	background-color: #95a5a6;
	border-color: #95a5a6;
}

ul.pagination li.disabled a:hover {
	background-color: #95a5a6;
	border-color: #95a5a6;
	color:#b4bcc2;
}

#dynamicTableDiv {
    position: relative;
}

#dynamicTable td {
    height: 46px;
    padding: 5px 8px;
}

#actionHeader {
    width: 15%;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7) url('/static/img/loader.gif') no-repeat 50%;
}
/* End of Manage Page CSS */

/* Only Domains Page CSS */
#domainHeader {
    width: 85%;
}

#newDomainInput {
    max-width: 500px;
}
/* End of Only Domains Page CSS */

/* Only Users Page CSS */
#emailHeader, #passwordHeader {
    width: 42.5%;
}
/* End of Only Users Page CSS */

/* Only Alias Page CSS */
#sourceAliasHeader, #destinationAliasHeader {
    width: 42.5%;
}
/* End of Only Alias Page CSS */

@media(max-width:767px) {
    /* Login Page CSS */
    #loginRow {
        margin: auto;
    }

    .loginInput {
        width: 95%;
    }

    .loginAlert {
        margin-bottom: 3em;
    }
    /* End of Login Page CSS */
}

@media(min-width:768px) {
    ul.dropdown-menu li a {
		height: 50px;
		padding-top: 14px !important;
	}

	ul.dropdown-menu {
		border: none !important;
	}

    /* Login Page CSS */
    #loginRow .panel-body {
        margin-top: 4em;
        margin-bottom: 3em;
    }

    .loginInput {
        width: 75%;
    }

    #loginButton {
        margin-top: 4em;
    }
    /* End of Login Page CSS */
    
}

@media(min-width:992px) {
    /* Manage Page CSS */
    #newDomainInput, #newUserInput,
    #newPasswordInput, #newAliasSourceInput,
    #newAliasDestinationInput {
        width: 75%;
    }
    /* End of Manage Page CSS */
}

@media(min-width:1200px) {
    /* Login Page CSS */
    #loginRow {
        width: 75%;
        margin: auto;
    }
    /* End of Login Page CSS */
}
